
.body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffad9b,#f6ecd5,#e5eef5, #e2edf6) ;
  }





  
  
.imageSlider {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 0px; 
    padding-top: 0px;
  }


  .imageWithCaption {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .image {
    width: 650px;
    height: 450px;
    border-radius: 0%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    margin: 20px;
  }
  
  .imageDescription {
    text-align: center;
  }
  
  .imageTitle {
    font-size: 30px;
    font-weight: 650;
    max-width: 650px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: justify;
  }
  
  .imageCaption {
    font-size: 25px;
    line-height: 50px;
    font-weight: 600;
    max-width: 650px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    text-align: justify;
    font-weight: normal;
font-family: Kumbh Sans;


  }
  
  .heading {
    font-size: 60px;
    font-weight: 800px;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 100px; 
    text-align: justify;
    margin-left: 200px;
font-family: Poppins;


  }
  
  .paragraph {
    font-size: 30px;
    font-weight: 400;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 10px; 
    text-align: center;
    margin-top: 20px; 
    margin-left: 200px;
    text-align: justify;
  }
  .customHeading1 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 200px;
    padding-left: 205px;
    font-family: Kumbh Sans;
  }

  .customHeading2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 200px;
    padding-left: 205px;
    font-family: Kumbh Sans;
  }

  .customHeading3 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 200px;
    padding-left: 205px;
    font-family: Kumbh Sans;
  }
  