@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-raleway: Raleway;
  --knapptexr: "Kumbh Sans";
  --rubrik-h2: Inter;
  --rubrik-h1: Poppins;

  /* font sizes */
  --knapptexr-size: 20px;
  --brdtext-size: 16px;
  --rubrik-h3-size: 24px;
  --rubrik-h2-size: 34px;
  --rubrik-h1-size: 48px;

  /* Colors */
  --color-white: #fff;
  --color-darkorange: #f4770a;
  --dark-ass-blue: #121535;
  --color-black: #000;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-195xl: 214px;
}